<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mob" class="org.genspark.Phone">
        <constructor-arg name="mob" value="(484) 953-2993"/>
    </bean>
    <bean id="home" class="org.genspark.Phone">
        <constructor-arg name="mob" value="(610) 263-8832"/>
    </bean>

    <bean id="address" class="org.genspark.Address">
        <constructor-arg name="city" value="West Chester"/>
        <constructor-arg name="state" value="Pennsylvania"/>
        <constructor-arg name="country" value="United States"/>
        <constructor-arg name="zipcode" value="19382"/>
    </bean>

    <bean id="student" class="org.genspark.Student">
        <constructor-arg name="id" value="942111034"/>
        <constructor-arg name="name" value="Zachary Perales"/>
        <constructor-arg name="ph">
            <list>
                <ref bean="mob"/>
                <ref bean="home"/>
            </list>
        </constructor-arg>
        <constructor-arg ref="address"/>
    </bean>
</beans>